



html {
    line-height: 1;
}

body {
    padding: 0;
    background-color: rgb(16, 16, 16);
    overflow-y: auto;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}


.App {
    max-width: 90%;
    margin: 0 auto;
    padding: 1em .4em;

    color: var(--fontColor);
    font-size: 62.5%;
    font-size: var(--fs);
    text-align: center;
    height: var(--mainHeight);
}




